.barang-photo {
    width: 50px; /* Initial width */
    height: 50px; /* Initial height */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

/* Enlarge the photo when hovered */
.barang-photo:hover {
    transform: scale(1.8); /* Enlarge the image to 120% of its size */
    cursor: pointer; /* Change cursor to pointer */
}